.Adminmain-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  font-style: normal;
  font-weight: bold;
  background-color: #0079ff;
  top: 0;
  position: sticky;
}

.Adminmain-link {
  color: #fff;
  align-items: center;
  text-decoration: none;
  font-size: large;
  margin-left: 0;
  margin-right: 0px;
  justify-content: space-around;
  overflow: black;
  width: 100px;
}
.Adminmain-link:hover {
  color: #000000;
  text-decoration: 3px underline;
}

.Adminmainlogout-log {
  color: rgb(255, 255, 255);
  width: 20px;
  height: auto;
}
