/* .registered-container {
  margin: 20px;
  position: absolute;
}

h2 {
  color: #333;
}

.table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  position: absolute;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#tr-style {
  background-color: #f2f2f2;
  color: rgb(67, 95, 255);
}

.align-middle {
  vertical-align: middle;
}

.align-top {
  vertical-align: top;
} */
